<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mohamed Ali Saifudeen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,800&family=Ubuntu:ital,wght@0,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,800&family=Ubuntu:ital,wght@0,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
{% import "bootstrap/wtf.html" as wtf %}
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"><img class='navbar-brand' src="../static/Gold-Pink.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#navbar">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container 123">
        <div class="row ">
            <div class="col-lg-6 col-sm-12 container-fluid">
                <h1 class="hello">Hello!</h1>
                <h1> I'm Mohamed Ali, a <br>Python Developer</h1>
                <p>Python Developer with extensive experience and exceptional analytical and critical thinking skills.
                    Delivers a proactive approach,great work ethic, and the ability to function well in
                    fast-paced/deadline-driven team environments.</p>
                <button type="button" class="btn button1 btn-lg btn-dark">About Me</button><br>
                <div class="head_ico">
                    <a href="www.google.com"><i class="fa-brands fa-facebook fa-2x ic"></i></a>  <a href="www.google.com"> <i class="fa-brands fa-github fa-2x ic"></i> </a> <a href="www.google.com"><i class="fa-brands fa-twitter fa-2x ic"></i></a> <a href="www.google.com"> <i class="fa-brands fa-instagram fa-2x ic"></i></a>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12">
                <img class="j1" src="../static/PngItem_548301.png">
            </div>

        </div>


    </div>

</section>


<section id="experience">

    <hr>
    <h2 class="about">My Services</h2>
    <p class="para">I provide a variety of services from web development, data science , mobile app development to
        writing <br> any kind of python code to complete your project with minimum resources
    </p>
    <hr class="bottom">

    <div class="container overflow-hidden">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="p-3 border bg-light gutter1"><i class="fa-sharp fa-solid fa-code fa-3x icon"></i><br>
                    <h2 class="code">Web Development</h2><br>
                    <p class="description">I bild web pages using the Flask framework along with Sql Alchemy , Flask
                        logins , Apis and more</p></div>

            </div>
            <div class="col-lg-6">

                <div class="p-3 border bg-light gutter2"><i class="fa-sharp fa-solid fa-database fa-3x icon"></i><br>
                    <h2 class="code">Data Science</h2><br>
                    <p class="description">I do data exploring,manipulation, and visualization with pandas,matplotlib
                        and seaborn </p></div>
            </div>
            <div class="col-lg-6">
                <div class="p-3 border bg-light abc"><i class="fa-sharp fa-solid fa-rss fa-3x icon"></i><br>
                    <h2 class="code">Api</h2><br>
                    <p class="description">I can code any application by integrating apis with an eli-gent
                        user-interface </p></div>
            </div>
            <div class="col-lg-6">
                <div class="p-3 border bg-light abc"><i class="fa-sharp fa-solid fa-shield-halved fa-3x icon"></i>
                    <h2 class="code">Mobile Development</h2><br>
                    <p class="description">I can code mobile applications with the use of Kivy library in python </p>
                </div>
            </div>
        </div>
    </div>


</section>

<section id="About_me">
    <h2 class="about my">About Me</h2>
    <p class="para">I am Mohamed Ali, I have completed my ordinary level<br> examination as well as my Advance level education along with a diploma course in Technology

    </p>
    <hr class="bottom">

    <div class="container con">
  <div class="row">
    <div class="col-lg-6">
      <img class="man" src="../static/man-12316.png ">
    </div>
    <div class="col-lg-6">
        <h2 class="hi">Hi There!</h2>

        <p class="new">Im Mohamed Ali and I pursued my Advanced level and Ordinary level education at Royal College. I have completed a diploma in Technology , English as well as business.Once I completed my diploma in Technology and based on the interest that I had towards programming I joined to a bootcamp in Udemy which relly helped me to gain a good amount of knowledge in Python.  </p>



        <form method="post" action="/">

            {{ form1.csrf_token }}
            {{ wtf.quick_form(form1,button_map={'submit':"danger"}) }}
        </form>
    </div>

  </div>
</div>

</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>